
    .recent-transaction-div {
        position: relative;
        width: 100%;
        margin-top: 80px;
    }

    .recent-transaction-table-div {
        overflow-y: scroll;
        height: 350px;
    }

    .recent-transaction-text {
        position: absolute;
        top: -35px;
        color: black;
        z-index: 100;
        font-weight: bold;
        font-size: 1rem;
    }

    .recent-transaction-div table {
        width: 100%;
        border-collapse: collapse;

    }

    .recent-transaction-div th {
        background-color: #f2f2f2; /* Light background color for headers */
        padding: 10px; /* Add some padding for space inside cells */
        border: 1px solid #ddd; /* Add border to headers */
        text-align: left; /* Align text to the left */
    }

    .recent-transaction-div td {
        padding: 10px; /* Add padding inside cells */
        border: 1px solid #ddd; /* Add border to table cells */
        text-align: left; /* Align text to the left */
    }

    .recent-transaction-div tr:hover {
        background-color: #f1f1f1; /* Change background color on hover */
    }