@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent; /* Removes the blue tap highlight */

}

:root {
  font-family: Roboto;
  --font-size-header2: 1.5rem;
  --font-size-main: 1.1rem;
  --font-size-body: 1rem;

  --color-green-1: #249339;
  --color-green-2: #80cc28;
  --color-green-hover: #249338c7;

  --color-gray-1: rgba(143, 142, 142, 0.724);
  --color-text-gray: rgb(118, 118, 118);
  --color-gray-hover: #d9d9d9;

  --color-black-1: #1e1e1e;

  --color-blue-1: #2980b9;
  --color-yellow-1: #f1c40f;
  --color-violet-1: #8967b3;
  --color-red-1: #e03a2b;
}

body {
  overflow:hidden;
  display: flex;
  flex-direction: row;
}

img {
  pointer-events: none;
}

.sidenav-section,
.burger-sidenav,
.nav-icons-content,
.main-section {
  transition: all 0.25s ease-in-out;
}

.sidenav-section {
  z-index: 1;
  width: 20%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-black-1);
  position: fixed;
  text-wrap: nowrap;
}

.sidenav-section.collapsed {
  width: 80px;
  min-width: 20px;
  height: 100%;
}

.nav-logo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-logo-img {
  opacity: 1;
  width: 180px;
  margin-bottom: 20px;
}

.nav-logo-img.collapsed {
  transition: opacity 0.25s ease-in-out;
  height: 80px;
  opacity: 0;
}

.burger-sidenav {
  z-index: 1;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-green-1);
  font-size: 1.5rem;
  left: 32px;
  top: 50px;
  transform: rotate(90deg);
}

.burger-sidenav:hover {
  opacity: 0.7;
}

.nav-icons-div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.nav-icons {
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}

.nav-icons-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
}

.nav-icons-content span {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

.nav-icons-div .active {
  background-color: var(--color-green-1);
}

.active .nav-icons-content {
  transform: translateX(10px);
}

.nav-icons-content:hover {
  transform: translateX(10px);
  opacity: 0.8;
}

.nav-icons-img {
  width: 22px;
  height: 22px;
  margin-right: 15px;
}

.logout-btn {
  color: var(--color-red-1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 15px;
  left: 5%;
  font-size: 0.8rem;
  color: white;
}

.footer.collapsed {
  display: none;
}

.main-section {
  margin-left: 300px;
  padding: 0 3.5%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.main-section.collapsed {
  margin-left: 80px;
  padding: 0 3.5%;
  height: 100vh;
  width: 100%;
}

.top-nav {
  padding: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top-nav-title {
  color: var(--color-black-1);
  font-size: 1.5rem;
  font-weight: 600;
}

.top-nav-user-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.top-nav-user-name {
  font-weight: 500;
  color: var(--color-black-1);
  padding: 5px 21px;
  margin-right: -10px;
  font-size: 1rem;
  border-radius: 15px 0 0 15px;
}

.top-nav-user-icon {
  background-color: white;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50px;
}

.top-nav-user-icon img {
  width: 32px;
  height: 32px;
  opacity: 0.7;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  position: relative;
}

.dashboard-today-text {
  position: absolute;
  top: -20px;
  font-size: 1rem;
}
