@media (max-width: 1200px) {
  .material-name {
    font-size: 0.9rem;
  }

  .total-items-text {
    font-size: 1.4rem;
  }

  .dashboard-div {
    padding: 12px 25px;
  }

  .dashboard-icon img {
    width: 32px;
  }
}

@media (max-width: 1025px) {
  .grid-main {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .dashboard-charts {
    grid-template-columns: 2fr 1.1fr;
  }  

  .dashboard-icon {
    padding: 10px 12px;
  }
}

@media (max-width: 769px) {

  .grid-main {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .dashboard-charts {
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin-bottom: 30px;
  }

  .dashboard-icon img {
    width: 32px;
  }

  .bar-chart-div {
    min-width: 420px;
  }

  .pie-chart-div {
    min-width: 200px;
  }

  /* History */

  .recent-transaction-div table {
    font-size: 0.7rem;
  }

  .main-section {
    margin-left: 80px;
    padding: 0 40px;
  }

  .main-section.collapsed {
    padding: 0 40px;
  }

  /* Announcements */

  .announcement-latest-text {
    width: 250px;
  }

}

@media (max-width:670px) {
  .main-section {
    margin-left: 60px;
  }

  /* History */
  .recent-transaction-text {
    top: -165px;
  }  

  .recent-transaction-div {
    margin-top: 200px;
  }

  .recent-transaction-div table {
    font-size: 0.7rem;
  } 

  .recent-transaction-div th {
    padding: 7px;
  }

  .recent-transaction-div td {
    padding: 7px;
  }

  .date-selection-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  
    top: -140px;
    left: 0;
  }

  .date-selection-form input {
    width: 100%;
    font-family: Roboto;
    font-size: 0.9rem;
    padding: 6px 10px;
  }

  .date-selection-form button {
    margin-top: 10px;
    width: 100%;
    padding: 8px 20px;
  }

  /* Announcement */

  .announcement-div {
    padding: 20px 25px;
  }

  .announcement-img {
    min-width: 350px;
  }
  
  .announcement-latest-text {
    font-size: 0.9rem;
    width: 200px;
  }

}

@media (max-width: 550px) {
  .main-section {
    margin-left: 60px;
    padding: 0 30px;
  }

  .main-section.collapsed {
    margin-left: 60px;
    padding: 0 30px;
  }

  .burger-sidenav {
    left: 25px;
    top: 50px;
  }

  .active .nav-icons-content {
    transform: translateX(0);
  }

  .nav-icons-content:hover {
    transform: translateX(0);
    opacity: 0.8;
  }

  .create-acc-form {
    padding: 25px 25px;
  }

  .dashboard-charts {
    row-gap: 30px;
  }

  .bar-chart-div {
    max-width: 420px;
    min-width: 350px;
  }

  .pie-chart-div {
    max-width: 320px;
  }

  .recent-transaction-div table {
    font-size: 0.7rem;
  } 

  .recent-transaction-div th {
    padding: 5px;
  }

  .sidenav-section.collapsed {
    width: 60px;
  }
  
  /* Announcements */

  .announcement-grid {
    margin-top: 30px;
  }

  .announcement-latest-text {
    top: -12px;
    font-size: 0.8rem;
    padding: 8px 15px;
    width: 165px;
  } 

  .announcement-add, .announcement-delete {
    font-size: 0.7rem;
    top: -50px;
  }

  .announcement-add {
    left: 0;
    width: 69%;
  }

  .announcement-delete {
    width: 30%;
  }

  .announcement-delete-each {
    font-size: 0.7rem;
    bottom: 45px;
  }
  

  .announcement-div {
    padding: 15px 20px;
  }

  .announcement-img {
    min-width: 250px;
    min-height: 220px;
  }

  .announcement-title {
    font-size: 0.9rem;
  }

  .announcement-timestamp, .announcement-event-date, .announcement-body{
    font-size: 0.7rem;
  } 

  .modal-content {
    width: 75%;
  }
}

@media (max-width: 426px) {
  .login-form {
    width: 300px;
    height: 340px;
    padding: 15px;
  }

  .login-form .form-title {
    font-size: 1rem;
  }

  .login-forgot-pass {
    font-size: 0.8rem;
    bottom: 100px;
  }

  .login-form input {
    padding: 12px;
    font-size: 0.8rem;
    margin-bottom: 25px;
  }

  .login-submit-btn {
    font-size: 0.8rem;
  }

  .top-nav {
    padding: 35px 0 40px 0;
  }

  .top-nav-title {
    font-size: 1.3rem;
  }

  .top-nav-user-icon {
    width: 28px;
    height: 28px;
  }

  .top-nav-user-icon img {
    width: 28px;
    height: 28px;
  }

  .top-nav-user-name, .dashboard-today-text, .recent-transaction-text {
    font-size: 0.9rem;
  }

  .dashboard-div {
    padding: 10px 25px;
  }

  .dashboard-icon {
    padding: 8px 12px;
  }

  .dashboard-icon img {
    width: 28px;
  }
  
  .bar-chart-div {
    max-width: 340px;
    min-width: 260px;
  }

  .pie-chart-div {
    max-width: 300px;
    min-width: 100px;
  }

  .main-section {
    margin-left: 50px;
    padding: 0 18px;
  }

  .main-section.collapsed {
    margin-left: 50px;
    padding: 0 18px;
  }

  .nav-logo {
    height: 140px;
  }

  .nav-logo-img {
    margin-bottom: 0;
    margin-left: 10px;
  }

  .nav-logo-img {
    height: 80px;
  }

  .burger-sidenav {
    font-size: 1.3rem;
    left: 18px;
    top: 40px;
  }

  .sidenav-section.collapsed {
    width: 50px;
  }

  .sidenav-section {
    width: 250px;
    min-width: 20px;
  }

  .nav-icons-content {
    padding: 10px 15px;
  }

  .nav-icons-content span {
    font-size: 0.8rem;
  }

  .nav-icons-img {
    width: 20px;
    height: 20px;
  }

  .chart-controls {
    top: -20px;
  }

  .date-selection-form input {
    font-family: Roboto;
    padding: 5px 5px;
    font-size: 0.8rem;
  }

  /* Create Acc */

  .create-acc-form {
    margin-top: -10px;
    padding: 20px 15px;
  }

  .create-acc-form input, .create-acc-form select, .create-acc-form button {
    font-size: 0.75rem;
    padding: 8px 12px;
  }

  .create-acc-form input {
    margin-bottom: 12px;
  }

  /* Announcement */ 

  .announcement-title {
    font-size: 0.85rem;
    column-gap: 20px;
  }

  .announcement-timestamp {
    font-size: 0.7rem;
  }

  .announcement-add {
    width: 69%;
  }

  .announcement-delete {
    width: 30%;
  }

  .announcement-img {
    max-height: 250px;
  }

  .modal-content h2{
    font-size: 1.2rem;
  }

  .modal-content .close{
    font-size: 1.3rem;
  }

  .modal-content label{
    font-size: 0.8rem;
  }

  #announcementForm input,
  #announcementForm textarea {
  padding: 6px;
  margin-bottom: 15px;
  font-size: 0.7rem;
  }

  .announcement-delete-each {
    font-size: 0.6rem;
    top: -15px;
    bottom: unset;
  }
}


@media (max-width: 320px) {
  .sidenav-section.collapsed {
    width: 45px;
  }

  .sidenav-section {
    width: 220px;
    min-width: 20px;
  }

  .nav-icons-content {
    padding: 10px 15px;
  }

  .nav-icons-img {
    width: 19px;
    height: 19px;
  }

  .burger-sidenav {
    left: 17px;
    top: 32px;
  }

  .nav-logo {
    height: 120px;
  }

  .nav-logo-img {
    height: 70px;
    width: 160px;
  }

  .nav-logo-img.collapsed {
    height: 70px;
  }

  .main-section {
    margin-left: 45px;
    padding: 0 12px;
  }

  .main-section.collapsed {
    margin-left: 45px;
    padding: 0 12px;
  }

  .top-nav {
    padding: 30px 0 35px 0;
  }

  .top-nav-title {
    font-size: 1.2rem;
  }

  #myBarChart {
      max-width: 250px;
      min-width: 200px;
      min-height: 200px;
  }

  .pie-chart-div {
    max-width: 250px;
  }

  .myPieChart {
    max-width: 250px;
  }

  .chart-controls {
    right: 15px;
  }

  /* Create Acc */

  .create-acc-form input, .create-acc-form select {
    font-size: 0.75rem;
    padding: 7px 10px;
  }

  /* Announcements */ 

  .announcement-img {
    max-width: 200px;
    min-width: 185px;
    min-height: 160px;
  }

}
