@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        
        * {
            margin: 0;
            padding: 0;
        }

        :root {
            font-family: Roboto;
            --font-size-header2: 1.5rem; 
            --font-size-main: 1.1rem; 
            --font-size-body: 1rem; 
            --color-green-1: #249339;
            --color-green-hover: #249338c7;
            --color-green-2: #80cc28;
            --color-gray-1: rgba(143, 142, 142, 0.724);
            --color-gray-hover: #D9D9D9;
            --color-black-1: #1E1E1E;
        }

        body {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
        }